a.navbar-brand.room-nav {
  color: firebrick;
  font-family: 'Lobster', cursive;
  font-size: 28px;
}

.blur {
  -webkit-filter: blur(10px);
}

.call-buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.hidden {
  display: none;
}

.incoming {
  height: 240px;
}

.inverted {
  -webkit-filter: invert(1);
}

.local-buttons {
  float: left;
}

#local-video {
  float: left;
}

.navbar {
  background-color: darkorange;
}

.outgoing {
  height: 120px;
}

.remote-buttons {
  float: right;
}

#remote-video {
  float: right;
}

.room-select {
  margin-left: 10%;
}

.rotated-hue {
  -webkit-filter: hue-rotate(180deg);
}

.saturate {
  -webkit-filter: saturate(10);
}

.sepia {
  -webkit-filter: sepia(1);
}

.textbox {
  margin-left: 10%;
  margin-right: 10%;
  overflow: scroll;
  word-wrap: break-word;
}

video {
  width: 48%;
}

#videos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}
