a.navbar-brand.room-nav, .btn.btn-default {
  color: firebrick;
  font-family: 'Lobster';
}

a.navbar-brand.room-nav {
  font-size: 28px;
}

button.btn.btn-default {
  font-size: 16px;
}

.blur {
  -webkit-filter: blur(10px);
}

.call-buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
}

.filter-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  width: 100%;
}

.filter-buttons > button {
  flex-grow: 1;
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.hidden {
  display: none;
}

.incoming {
  height: 240px;
}

.inverted {
  -webkit-filter: invert(1);
}

#local, #remote {
  margin-top: 4.5em;
  width: 49%;
}

#local {
  float: left;
}

#local-video {
  float: left;
}

.navbar {
  background-color: darkorange;
}

.outgoing {
  height: 120px;
}

#remote {
  float: right;
}

#remote-video {
  float: right;
}

.room-select {
  margin-left: 10%;
}

.rotated-hue {
  -webkit-filter: hue-rotate(180deg);
}

.saturate {
  -webkit-filter: saturate(10);
}

.sepia {
  -webkit-filter: sepia(1);
}

.textbox {
  margin-left: 10%;
  margin-right: 10%;
  overflow: scroll;
  word-wrap: break-word;
}

video {
  width: 100%;
}
