.call-buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.hidden {
  display: none;
}

.incoming {
  height: 240px;
}

.inverted {
  -webkit-filter: invert(1);
}

.left-buttons {
  float: left;
}

.outgoing {
  height: 120px;
}

.right-buttons {
  float: right;
}

.rotated-hue {
  -webkit-filter: hue-rotate(180deg);
}

.sepia {
  -webkit-filter: sepia(1);
}

.textbox {
  margin-left: 10%;
  margin-right: 10%;
  overflow: scroll;
  word-wrap: break-word;
}
